.table-container {
  width: 100%;
  max-width: 100vw;
  overflow-x: auto;
}

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td,
th {
  word-break: break-all; /* Break long words anywhere */
  white-space: normal; /* Allow wrapping */
  overflow-wrap: anywhere; /* Modern browsers obey this */
}

@media only screen and (max-width: 768px) {
  .DASHBOARD {
    margin-top: auto;
  }
}
