.test_details_page {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 6fr;

    &>div {
        grid-template-columns: 2fr 5fr;

        &>section {
            height: 95%;
            display: grid;
            grid-template-rows: 2fr 11fr;

            &>header {
                display: flex;
                align-items: center;
                padding: 0 25px;
                // To the first child give space betweeen
                &:nth-child(2){
                    justify-content: space-between;
                    padding-right: 25px;
                }
                &>span {
                    font-size: 18px;
                    font-weight: 600;
                    color: white;
                }
            }

            &.test_info {
                border-radius: 5px;
            }

            &.test_activity {
                padding-left: 20px;
            }
        }
    }
}